.slider {
    padding-bottom: 12px !important;
}
.testimonialcustom-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    margin-bottom: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .testimonialcustom-dot.active {
    width: 14px;
    height: 14px;
    background: #780407;
  }